.master {
  display: flex; /* Usar flexbox para organizar los elementos en fila */
  background: #CCCCCC;

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Establecer estilos de .cardContainer según tus preferencias */
.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  /* Añade cualquier otro estilo necesario */
}

/* Establecer estilos para los elementos internos sin afectar el paginado */
.master > div {
  display: flex; /* Usar flexbox para organizar elementos internos en fila */
}

.leftPanel {
  width: 250px;
  background-color: #ececec;
  padding: 20px;
  /* Otros estilos del panel izquierdo */
}

.content {
  flex-grow: 1; /* Permitir que el contenido crezca y ocupe el espacio restante */
  padding: 20px;
}
