.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #959292 60%, #87a2ab 200%);
    color: #000000;
    padding: 10px 20px;
}
.logo a{
    color: rgb(0, 0, 0);
    text-decoration:none
}


.login img {
    width: 30px;
  cursor: pointer;
  border-radius: 32px;
}
.icons {
    display: flex;
    align-items: center;
  }
.cart {
    display: inline-block;
    margin-right: 12px; 
  }
  
  .login {
    display: inline-block;
    margin-right: 10px;
  }
  .searchBar {
    flex-grow: 1; 
    margin: 0 10px; 
  }

  .button{
    margin-right: 15px;
   
  }
  
  .AddProduct a,
.Contact a,
.sale a{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border: 2px solid #000000;
    color: #000000; 
    background-color: transparent; 
    padding: 6px 18px;
    font-size: 16px;
    text-decoration:none;
    
  }

  .AddProduct:hover a,
  .Contact:hover a,
  .sale:hover a{
    background-color: #000000;
    color: rgb(255, 255, 255);
    
  }
/* .AddProduct,
.Contact,
.sale{
  text-decoration:none;
  border: none; 
  outline: none; */

  .buttonSale {
  margin-left: 30px;
  }

  



