/* Filters.module.css */

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px; 
}


.category-label {
  flex-grow: 1; 
  margin-right: 10px; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 

  max-width: 150px; 
}


/* Estilo para el checkbox */
.category-checkbox {
  width: 20px; 
  height: 20px; 
}
