
.master,
.master .container {
    background: #CCCCCC;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .container {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-width: 480px;
    margin: 0 auto;
}

